span{
  color: white;
  background-color: #3399ff;
  border-right: 1px white solid;
  padding:20px;
  padding-right: 100px;
}
div{
  width:500px;
  margin: auto;
}
.logo{
  border-left: 1px white solid;
  margin-left: auto;
  padding-right: 25px;
  border-right: 0px;
}
.tab{
  padding: 20px;
}
.filler
{
  background-color:#3399ff;
  padding:20px;
  width:100%;
}

article{
  margin-left:25px;
  padding:10px;
}
p{
  border:20px;
}